---
import Header from '../components/Header.astro';
const topicTitle = "Travel Blog";
---



<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{topicTitle}</title>

		<style>
			
			body {
				background: rgb(206, 118, 118);
			}
			
		</style>
	</head>
	<body>
		<Header />
		
		<h1>{topicTitle}</h1>
	</body>
</html>
